
<div class="fullpage">
    <form action="/user" method="post" id="signup_form">
        <div class="form_login_signup">
            <p>Signup Form</p>
            <p>
              <div>
            <label>UserName</label>
            <input type="text" name="userName" value="" id="userName" placeholder="User Name">
        </div>  
            </p>
            <p>
             
        <div>
            <label>Password</label>
            <input type="password" name="password" value="" id="password" placeholder="Password">
        </div>    
            </p>
       
        <button class="button" type="submit">Signup</button>
        <a class="button" href="/login"><input type="button" value="Login"></a>
    </div>
    </form>
    </div>